*{
    text-align: center;
    position: relative;
    top: 50px;
}

body{
    background-color: rgb(61, 61, 61);
}

.date{
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.time{
    font-size: 100px;
    font-weight: bold;
    color: rgb(179, 21, 171);
}